@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@font-face {
  font-family: "DeadJim";
  src: url("./assets/fonts/DEADJIM.TTF") format("truetype");
  font-weight: normal; /* Ou 'bold', dependendo da fonte */
  font-style: normal; /* Ou 'italic', se necessário */
}

p, h3, a {
  font-family: "Quicksand", sans-serif;
}

body {
  overflow-x: hidden;
}

.img-card {
  background: url("./assets/polvosoh.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.extra-large-title {
  font-family: "DeadJim";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 128px;
  line-height: 128px;
}

.large-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
}

.header-title {
  font-family: "DeadJim" !important;
}

.large-title,
.header-title {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  font-size: 32px;
}

.medium-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.small-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.medium-text-bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 480px; /* 16:9 aspect ratio */
  max-width: 850px;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 480px;
  max-width: 850px;
}

@media (max-width: 768px) {
  .video-responsive iframe {
    max-height: 320px;
  }
  .video-responsive {
    padding-top: 320px;
  }
}

.app-background {
  background-image: url("./assets/fundo2.jpeg");
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-size: cover;
}

.catalog-yt-video .video-responsive {
  padding-top: 240px;
}

.catalog-yt-video .video-responsive iframe {
  max-height: 240px;
}

.home-yt-video {
  max-width: 850px;
}

.padding-space {
  min-width: 96px;
  height: 100px;
}